services:
  app:
    image: adguard/adguardhome:latest
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      - CADDY_DOMAIN
      - CADDY_TYPE=${CADDY_TYPE:-internal}
      - CADDY_PORT=${CADDY_PORT:-80}
    volumes:
      - app_data:/opt/adguardhome/work
      - app_conf:/opt/adguardhome/conf
    networks:
      caddy:

networks:
  caddy:

volumes:
  app_data:
  app_conf:
